h1{
    border-top: 2px solid black;
    padding-top: 5px;
    border-right: 2px solid black; 
    padding-right: 8px;
    border-left: 2px solid black;
    padding-left: 300px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
#showcase{
    margin: 0;
    padding: 0;
    background: url('bg img-2.jpeg') no-repeat center/cover;
    position: relative;
    overflow: hidden;
}